.DS_Store

inSPorte_iOS/inSPorte/inSPorte.xcodeproj/xcuserdata/danilo.xcuserdatad/xcschemes/inSPorte.xcscheme

inSPorte_iOS/inSPorte/inSPorte.xcodeproj/project.xcworkspace/xcuserdata/danilo.xcuserdatad/UserInterfaceState.xcuserstate

inSPorte_iOS/inSPorte/.DS_Store

inSPorte_iOS/.DS_Store

inSPorte_iOS/.DS_Store

inSPorte_iOS/inSPorte/.DS_Store

inSPorte_iOS/inSPorte/inSPorte.xcodeproj/xcuserdata/danilo.xcuserdatad/xcschemes/xcschememanagement.plist
