<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
	
		<mapping class="br.com.insporte.db.model.Comentario" />
		<mapping class="br.com.insporte.db.model.Envio" />
		<mapping class="br.com.insporte.db.model.Likes" />
		<mapping class="br.com.insporte.db.model.Linha" />
		<mapping class="br.com.insporte.db.model.Opcao" />
		<mapping class="br.com.insporte.db.model.Pergunta" />
		<mapping class="br.com.insporte.db.model.Questionario" />
		<mapping class="br.com.insporte.db.model.Resposta" />
		<mapping class="br.com.insporte.db.model.RespostaOpcao" />
		<mapping class="br.com.insporte.db.model.Usuario" />
		
	</session-factory>

</hibernate-configuration>